* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
  }




/* nav bar */


.container {
  margin: 6em 8em 0em;
}

.new-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-size: 16px;
  margin-left: 2em;
  cursor: pointer;
  color: hsl(236, 13%, 42%);
}

li:hover {
  color: hsl(5, 85%, 63%);
}

.menu {
  display: none;
}

.close-btn {
  display: none;
}

.overlay {
  display: none;
}

.sidebar-content {
  display: none;
}

@media screen and (max-width: 850px) {
  .container {
    margin: 3em 3em 0;
  }

  ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .overlay {
    background-color: hsl(240, 100%, 5%);
    position: absolute;
    width: 100%;
    height: 275%;
    inset: 0;
    opacity: 50%;
  }

  .sidebar {
    background-color: hsl(36, 100%, 99%);
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
    top: 0;
    left: 40%;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding-top: 7em;
  }

  .close-btn {
    display: block;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .tap {
    color: hsl(240, 100%, 5%);
    margin-bottom: 1.6em;
  }

  .active {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .container {
    margin: 1em;
  }

  .logo {
    width: 65%;
  }

  .menu {
    width: 85%;
  }

  .close-btn {
    width: 8%;
  }

  .overlay {
    height: 475%;
  }
}

@media screen and (max-width: 550px) {
  .overlay {
    height: 450%;
  }
}

@media screen and (max-width: 400px) {
  .overlay {
    height: 400%;
  }
}


/* Top section */



.new-main {
  display: flex;
  width: 100%;
}

.web-description {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.bright-content {
  display: flex;
}

.bright-description {
  color: hsl(236, 13%, 42%);
  margin-bottom: 3rem;
  font-size: 1.08rem;
}

.bright {
  width: 65%;
  font-size: 3.1rem;
  padding: 0.2em 0.5em 0.2em 0em;
  font-weight: 800;
}

.web-content {
  width: 70%;
  padding: 1.5em 3em 1em 1em;
  font-size: 14px;
  line-height: 23px;
}

.new-read {
  background-color: hsl(5, 85%, 63%);
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 2.5em;
  padding: 0.7em 1.3em;
}

.new-read:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.new-report {
  background-color: hsl(240, 100%, 5%);
  padding: 2em 1em;
  width: 35%;
  height: fit-content;
  margin-bottom: 40px;
}

.new {
  color: hsl(35, 77%, 62%);
  font-size: 3rem;
  margin-bottom: 2em;
}

.new-content {
  padding-bottom: 1.5em;
  border-bottom: 1px solid hsl(236, 13%, 42%);
  margin: 1.5em 0;
}

.label {
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  margin-bottom: 0.7em;
  cursor: pointer;
  font-size: 1.3rem;
}

.label:hover {
  color: hsl(35, 77%, 62%);
}

.description {
  color: hsl(233, 8%, 79%);
  font-size: 1rem;
  line-height: 22px;
}

.web-img {
  width: 97%;
}

.mobile-web-img {
  display: none;
}


@media screen and (max-width: 1300px) {
    .bright {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .bright-content {
    flex-direction: column;
  }

  .web-content {
    padding-left: 0;
  }
}


@media screen and (max-width: 850px) {

  .new-main {
    flex-direction: column;
    width: 120%;
  }

  .web-content {
    padding-left: 0;
  }

  .new-report {
    width: 85%;
    margin-top: 2em;
  }

  .mobile-web-img {
    display: flex;
    }

.web-img {
  display: none;
  }

}

@media screen and (max-width: 650px) {


  .bright {
    width: 65%;
    margin-top: 0.5em;
  }

  .web-content {
    width: 95%;
    height: 180px;
    margin: 1em 0;
    padding: 0;
  }

  .bright-description {
    font-size: 1.0rem;
  }

  .new-read {
    font-size: 4vw;
    width: 95%;
    margin-top: 0.5em;
  }


  .new {
    font-size: 7vw;
  }

  .label {
    font-size: 4.5vw;
  }

  .description {
    font-size: 2.9vw;
  }
}




/* Bottom section */


h4 {
  color: #8D8DAA;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}

.container-fluid {
padding-left: 0;
}

.bottom-sect {
  margin-top: 3%;
  margin-bottom: 3%;
}

.bottom-section {
  color: #8D8DAA;
  font-size: 0.85rem;
  font-family: 'Inter', sans-serif;
}
 .bottom-image {
   position: absolute;
   float: left;
   width: 6rem;
   margin-right: 15px;
 }

.bottom-box {
  margin-bottom: 30px;
}

.bottom {
  position: relative;
  margin-left: 110px;
}

h5:hover {
  color: #DD5353;
}
/* |Attribution */

a {
  color: #8D8DAA;
}

.attribution {
  font-family: 'Inter', sans-serif;
  margin: 90px auto;
  font-size: 12px;
  text-align: center;
  color: #8D8DAA;
}
